In [160]:
# Dependencies
import pandas as pd
import numpy as np

In [271]:
names_dict={}
names=['Lisa', 'Bart', 'Homer', 'Maggie', 'Marge']

for name in names:
    #Set name
    entry_name=name
    
    #Get html for name
    url = f'https://www.behindthename.com/name/{entry_name}/top/united-states'

    #Get results
    results=pd.read_html(url)

    #Write name to df:o
    entry_name=results[1]

    if len(list(entry_name.columns))==7:
        #Drop extra columns
        entry_name=entry_name.drop(columns=[3,4,5,6])
        
    elif len(list(entry_name.columns))==4:
        #Drop extra columns
        entry_name=entry_name.drop(columns=[3])

    #Drop first 2 rows
    entry_name=entry_name.drop([0,1])

    #Rename columns
    entry_name=entry_name.rename(columns = {0:'Year', 1:'Rank', 2: 'Percent Used'})

    #Replace empty string and - with nan
    entry_name['Rank'].replace('', np.nan, inplace=True)
    entry_name['Rank'].replace('-', np.nan, inplace=True)
    entry_name['Percent Used'].replace('-', np.nan, inplace=True)

    #Drop nan
    entry_name=entry_name.dropna()

    #Remove hash from rank
    entry_name['Rank']=entry_name['Rank'].str[1:]

    #Write year and rank to integer
    entry_name['Year'] = entry_name['Year'].astype(int)
    entry_name['Rank'] = entry_name['Rank'].astype(int)

    #Write dataframe to dictionary
    names_dict[name]=entry_name

In [272]:
names_dict['Marge']

     Year  Rank Percent Used
74   1947   969        0.005
75   1946   857        0.006
76   1945   784        0.007
77   1944   867        0.006
78   1943   768        0.007
79   1942   859        0.006
80   1941   664        0.009
81   1940   752        0.007
82   1939   681        0.009
83   1938   682        0.009
84   1937   778        0.007
85   1936   888        0.005
86   1935   855        0.006
87   1934   875        0.006
88   1933   947        0.005
89   1932   875        0.006
90   1931   953        0.005
91   1930   840        0.006
92   1929   915        0.005
94   1927   863        0.006
95   1926   843        0.006
96   1925   895        0.005
97   1924   734        0.008
98   1923   851        0.006
99   1922   734        0.008
100  1921   804        0.006
101  1920   746        0.008
102  1919   882        0.005
103  1918   739        0.008
104  1917   740        0.008
105  1916   824        0.006
106  1915   774        0.007
107  1914   843        0.006
108  1913   830        0.006
109  1912   809        0.006
110  1911   898        0.005
112  1909   909        0.005
113  1908   809        0.006
114  1907   945        0.005
115  1906   776        0.007
120  1901   961        0.005