In [66]:
# Dependencies
from bs4 import BeautifulSoup
import requests
import pymongo
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize

In [67]:
table_viewersCount = pd.read_html('https://en.wikipedia.org/wiki/The_Simpsons')

In [68]:
print(f'Total tables: {len(table_viewersCount)}')
# Three level table
viewer_df = table_viewersCount[1]
viewer_df.columns = viewer_df.columns.droplevel()
viewer_df.columns = viewer_df.columns.droplevel()
for col in viewer_df.columns: 
    print(col)

Total tables: 27
Season
Season.1
No. ofepisodes
Season premiere
Season finale
Time Slot (ET)
Avg. viewers(in millions)
Viewers(millions)
Episode Title

In [70]:
viewer_df = viewer_df.rename(columns={"Season": "Season", "Season.1": "Year(s)", "No. ofepisodes": "Num of episodes", 
                          "Season premiere" : "Season premiere", "Season finale":"Season finale", 
                          "Time Slot (ET)" : "Time Slot(EST)", "Avg. viewers(in millions)" : "Average Ep Viewers(mil)",
                          "Viewers(millions)" : "Most Watched Ep Viewers(mil)", "Episode Title" : "Episode Title"})
viewer_df[0:10]

,Season,Year(s),Num of episodes,Season premiere,Season finale,Time Slot(EST),Average Ep Viewers(mil),Most Watched Ep Viewers(mil),Episode Title
0,1,1989–90,13,"December 17, 1989","May 13, 1990",Sunday 8:30 pm,27.8,33.5,"""Life on the Fast Lane"""
1,2,1990–91,22,"October 11, 1990","July 11, 1991",Thursday 8:00 pm,24.4,33.6,"""Bart Gets an F"""
2,3,1991–92,24,"September 19, 1991","August 27, 1992",Thursday 8:00 pm,21.8,25.5,"""Colonel Homer"""
3,4,1992–93,22,"September 24, 1992","May 13, 1993",Thursday 8:00 pm,22.4,28.6,"""Lisa's First Word"""
4,5,1993–94,22,"September 30, 1993","May 19, 1994",Thursday 8:00 pm,18.9,24.0,"""Treehouse of Horror IV"""
5,6,1994–95,25,"September 4, 1994","May 21, 1995",Sunday 8:00 pm,15.6,22.2,"""Treehouse of Horror V"""
6,7,1995–96,25,"September 17, 1995","May 19, 1996",Sunday 8:00 pm,15.1,19.7,"""Treehouse of Horror VI"""
7,8,1996–97,25,"October 27, 1996","May 18, 1997",Sunday 8:30 pm (Episodes 1–3)Sunday 8:00 pm (E...,14.5,20.9,"""The Springfield Files"""
8,9,1997–98,25,"September 21, 1997","May 17, 1998",Sunday 8:00 pm,15.3,19.8,"""The Two Mrs. Nahasapeemapetilons"""
9,10,1998–99,23,"August 23, 1998","May 16, 1999",Sunday 8:00 pm,13.5,15.5,"""Maximum Homerdrive"""

In [82]:
table_ratings = pd.read_html('https://en.wikipedia.org/wiki/List_of_The_Simpsons_episodes')
rating_df = table_ratings[0]

In [83]:
rating_df.columns = rating_df.columns.droplevel()
for col in rating_df.columns: 
    print(col)

Season
Season.1
Episodes
Episodes.1
First aired
Last aired
Households / viewers
Rank
Rating

In [84]:
rating_df = rating_df.rename(columns={"Season" : "Extra Column", "Season.1" : "Season", "Episodes" : "Num of episodes", 
                          "Episodes.1" : "Season Prem", "First aired" : "First aired", "Last aired" : "Last aired",
                          "Households / viewers" : "Total Household Viewers", "Rank" : "Rank", "Rating" : "Rating"})
rating_df[0:10]

#ratingFiltered_df = rating_df[["Season", "Households / viewers", "Rank", "Rating"]]

,Extra Column,Season,Num of episodes,Season Prem,First aired,Last aired,Total Household Viewers,Rank,Rating
0,NaN,1,13,13,"December 17, 1989","May 13, 1990",13.4m h.[n1][16],30,14.5
1,NaN,2,22,22,"October 11, 1990","July 11, 1991",12.2m h.[n1][n2],38[23],NaN
2,NaN,3,24,24,"September 19, 1991","August 27, 1992",12.0m h.[n1][n3],33[24],NaN
3,NaN,4,22,22,"September 24, 1992","May 13, 1993",12.1m h.[n1][25],30,13.0
4,NaN,5,22,22,"September 30, 1993","May 19, 1994",10.5m h.[n1][n4],53[26],NaN
5,NaN,6,25,25,"September 4, 1994","May 21, 1995",9.0m h.[n1][27],67[27],NaN
6,NaN,7,25,25,"September 17, 1995","May 19, 1996",8.0m h.[n1][28],75[28],NaN
7,NaN,8,25,25,"October 27, 1996","May 18, 1997",8.6m h.[29],53[29],NaN
8,NaN,9,25,25,"September 21, 1997","May 17, 1998",9.1m h.[30],30,9.2
9,NaN,10,23,23,"August 23, 1998","May 16, 1999",7.9m h.[31],46[31],NaN